
*{
    background-color:bisque;
}

h1,h2{
color: yellow;
font-size:120px;


}


p{
    color: blue;
    font-size: 14px;
}


#rakion{
    color:rgb(192, 170, 189);
    font: size 30px; 
}
.presentacion{
color: olivedrab;
font-size: 14px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
background-color:white;
}
div{
    color:black;
    font-size:150px;
    width: 500px;
    height:400px; 
    padding:250px;
    border:solid red ;
    margin:100px;
    border-radius:50px; 
    
}
section{border:solid red;
    display: flex;
    justify-content:space-evenly;
    align-items:center;
    height:1000px;

}